.App {
  text-align: center;
}
.App > .btn {
  border: 1px solid red;
  background: red;
  color: white;
  padding: 3px 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  margin: 4px;
  border-radius: 4px;
}
